/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: #F2F2F0;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.add-user{
    display: flex;
    
    margin-top:1rem;

}
.add{
    width:20px;
    margin-right: 1rem;
    margin-left: 1rem;
   
}

.main-div{
    border:1px solid #ccc;
  background-color: #FCFCFC;
    width: 35rem;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 3px;
    box-shadow:         3px 3px 5px 6px #ccc; 
}
.add-user-heading{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
.one{
    border:1px solid black;
    border-radius: 50%;
    display: inline-block;
    height: 1rem;
    width: 1rem;
    text-align: center;
    margin-right: 1rem;
    /* margin-left: .5rem; */
   
}

.acc-info{
   margin-right: 1rem;
}
.next{
    margin-left: 2rem;
    text-align: center;
}
.flex-all{
    display: flex;
    justify-content: space-evenly;
}
.name-grp{
    margin-bottom: 1.5rem;
}
.form-group{
    margin-top: 2rem;
    margin-left: 1rem;
    
}
.pass-grp{
    margin-top: 1.5rem;
}
.avatar-grp{
    margin-top: 1.5rem;
    margin-bottom: 6rem;
}
.step{
    display: flex;
    justify-content: space-between;
}
.corner{
     display: flex;
}
.foot {
    margin-left: .5rem;
   color:grey;
    font-size: .8rem;
}
.next-btn{
    border-radius: 4px;
    border-style: none;
    color:white;
    background-color: #0672E1;
    margin-left: 1rem;
    margin-right: .3rem;
    margin-bottom: .4rem;
    font-size: .7rem;
    padding: .4rem .5rem;
}
.form-control{
    border-radius: 4px;
    margin-left: .7rem;

}
.show{
    display: inline;
}
.check{
    height: 1rem;
    margin-left: 2rem;
    margin-right: 1rem;
}
label{
    color:grey;
    font-size: .8rem;
}
.or{
    text-decoration: none;
    color: black;
}
.cancel{
    text-decoration: none;
}
.checkgen{
    height: 1.5rem;
    margin-left: 1rem;
}
.text-grp{
    display: flex;
    margin-top: 2rem;
}
.area{
    margin-left: 1rem;
}
.code{
    text-decoration: none;
    font-size: .8rem;
    margin-left: 4.4rem;
    
}
.allow{
    text-decoration: none;
    color: black;
}

.visa{
    margin-right: .7rem;
    margin-left: .4rem;
}
.visa-img{
    width: 15px;
    height: 15px;
}
.submit-btn{
    border-radius: 4px;
    border-style: none;
    color:white;
    background-color: #0672E1;
    margin-left: 1rem;
    margin-right: .3rem;
    margin-bottom: .4rem;
    font-size: .7rem;
    padding: .4rem .5rem;
}
.terms{
    font-size: .9rem;
    color:blue;
    margin-top: .4rem;
    margin-left: .4rem;

}
.last{
    font-size: .8rem;
    margin-top: .4rem;
    margin-left: 1rem;
}